@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, body > div {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #141414;
  background-image: url("../public/background.jpg");
  background-size: cover;
}

a {
  text-decoration: none;
}


.ant-table-wrapper.custom-table .ant-table-thead th {
  background-color: rgba(209, 226, 235, 0.5);
  color: #333;
}

.ant-table-wrapper.custom-table .ant-table-tbody > tr > td {
  background-color: rgba(230, 247, 255, 0.5); 
  color: #333;
}







